:root {
    background-color: #17162e;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    max-width: 1260px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: var(--background-color);
    margin: 0 auto;
}

.max-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-search {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 44.65px;
    font-weight: 600;
}

.input-container {
    display: flex;
    background-color: #454558;
    width: 400px;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 12px;
}

#input-search {
    width: 300px;
    color: #8A8A8A;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#button-search {
    background-color: transparent;
    border: none;
}

.titles {
    color: #FFFFFF;
    font-weight: 600;
}

.container-movies {
    display: flex;
    align-items: center;
    background-color: #1D1C3B;
    width: 1000px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-image-movie {
    margin: 30px 20px;
}

.imagem-movie {
    max-height: 200px;
    max-width: 200px;
}

.movie-title {
    display: block;
    color: #FFFFFF;
    width: 220px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 22.32px;
}

.note-favorite {
    display: flex;
    margin-right: 100px;
}

.description {
    color: #FFFFFF;
    font-size: 16px;
    text-align: justify;
    margin-right: 30px;
    line-height: 31.86px;
}